*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  width: 100vw;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  height:100vh;
  
}

  
 
  .bg-animation {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle at center, #7f0e8e, #5e5ce6, #1e1b36, #0f0c29);
    background-size: 400% 400%;
    animation: gradientShift 12s ease infinite;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 50% 100%; /* bắt đầu từ dưới */
    }
    50% {
      background-position: 50% 0%;   /* lên trên */
    }
    100% {
      background-position: 50% 50%; /* quay về dưới */
    }
  }

  
header {
    text-align: center;
    color: #666;
    padding: 30px 0;

}
header h1{
    
    width:0ch;
    font-family:monospace;
    text-wrap:nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 3s steps(50) infinite alternate-reverse;
    color:#333
 }
@keyframes typing {
    from{
      width:0ch;
    }to {
      width: 17ch;
    }
    
  }
@keyframes blink{
  50% { border-color: transparent;}
}  



  header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  header p {
    font-size: 1.1rem bold;
    background: linear-gradient(to right, #9932CC, #FF69B4);
    background-clip: text;
    color: transparent;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding:30px;
    margin-top: 40px;
  }

  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 0.2s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card h3 {
    color:#555;
    margin-bottom: 10px;
    font-size: 1.25rem;
  }

  .card p {
    color: #555;
    font-size: 0.95rem;
  }

  footer {
    position: relative;
    top:10rem;
    text-align: center;
    padding: 40px 0 20px;
    font-size: 0.9rem;
    color: #888;
  }
  .relative{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding: auto;

  }
  .social-icons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    gap:10px;
    transition: 1s all;
  }
  .social-icons a {

    color:#888;
    cursor: pointer;text-decoration: none;
    border: none;
  }
  .social-icons a:hover {
    color: #0f1011;
    transform: scale(1.2);
  }