.box{
    width:100px;
    height:100px;
    background-color:blue;
}
.green{
    background-color:green;
    font-size: (1rem,calc(7vw + 1rem),5rem);
}
.yellow{
    background-color:rgb(169, 169, 104);
}
.brown{
    background-color:rgb(139, 69, 19);
}
.container{
    padding: min(5rem,8%);
    display:flex;
    width:100%;
    height:300px;
    border: 1px solid black;
    /* căn giữa theo chiều ngang */
    justify-content: space-around;
    /* căn giữa theo chiều dọc */
    align-items: center;
    /* gap:10px;same magin hoac space around */

    /* flex-direction: row-reverse;  */
}
.healding{
    justify-content: center;
}
img{
    aspect-ratio: auto;
    width:100%;
    height:auto;
}