p{
    font-size: 50px;
}
h2{
    color: rgb(155, 32, 32);
    font-style: italic; font-size: 60px; 
    background-color: rgb(173, 109, 233);
    font-weight: 800;
    text-align: center;
}
div{
    
    width: 200px;
    height: 60px;
    /* border-width: 2px;
    border-style: solid;
    border-color: blue; */
    border: 2px solid rgb(0, 89, 255);
}
.title{
    color: blue;
    opacity: 0.5;
    background-color: grey;
}